{{ template "widget-base.html" . }}

{{ define "rss-list-items" }}
    {{ range .Items }}
    <li>
        <a class="title size-title-dynamic color-primary-if-not-visited" href="{{ .Link }}" target="_blank" rel="noreferrer">{{ .Title }}</a>
        <ul class="list-horizontal-text flex-nowrap">
            <li {{ dynamicRelativeTimeAttrs .PublishedAt }}></li>
            <li class="min-width-0">
                <a class="block text-truncate" href="{{ .ChannelURL }}" target="_blank" rel="noreferrer">{{ .ChannelName }}</a>
            </li>
        </ul>
    </li>
    {{ else }}
    <li>{{ .NoItemsMessage }}</li>
    {{ end }}
{{ end }}

{{ define "widget-content" }}
{{ if and .Animate (gt (len .Items) .CollapseAfter) }}
<div class="scroll-animation scroll-animation-vertical scroll-animation-list" style="--collapse-after: {{ .CollapseAfter }}; --item-height: 4.5rem; --scroll-duration: calc({{ len .Items }} * 2.5s);">
    <div class="scroll-animation-track">
        <ul class="list list-gap-14{{ if .SingleLineTitles }} single-line-titles{{ end }}">{{ template "rss-list-items" . }}</ul>
        <ul class="list list-gap-14{{ if .SingleLineTitles }} single-line-titles{{ end }}">{{ template "rss-list-items" . }}</ul>
    </div>
</div>
{{ else }}
<ul class="list list-gap-14 collapsible-container{{ if .SingleLineTitles }} single-line-titles{{ end }}" data-collapse-after="{{ .CollapseAfter }}">
    {{ template "rss-list-items" . }}
</ul>
{{ end }}
{{ end }}
