{{ template "widget-base.html" . }}

{{- define "videos-vertical-list-items" }}
    {{- range .Videos }}
    <li class="flex thumbnail-parent gap-10 items-center">
        <img class="video-horizontal-list-thumbnail thumbnail" loading="lazy" src="{{ .ThumbnailUrl }}" alt="">
        <div class="min-width-0">
            <a class="block text-truncate color-primary-if-not-visited" href="{{ .Url | safeURL }}" target="_blank" rel="noreferrer">{{ .Title }}</a>
            <ul class="list-horizontal-text flex-nowrap">
                <li class="shrink-0" {{ dynamicRelativeTimeAttrs .TimePosted }}></li>
                <li class="min-width-0">
                    <a class="block text-truncate" href="{{ .AuthorUrl }}" target="_blank" rel="noreferrer">{{ .Author }}</a>
                </li>
            </ul>
        </div>
    </li>
    {{- end }}
{{- end }}

{{- define "widget-content" }}
{{ if and .Animate (gt (len .Videos) .CollapseAfter) }}
<div class="scroll-animation scroll-animation-vertical scroll-animation-list" style="--collapse-after: {{ .CollapseAfter }}; --item-height: 4.5rem; --scroll-duration: calc({{ len .Videos }} * 2.5s);">
    <div class="scroll-animation-track">
        <ul class="list list-gap-14">{{ template "videos-vertical-list-items" . }}</ul>
        <ul class="list list-gap-14">{{ template "videos-vertical-list-items" . }}</ul>
    </div>
</div>
{{ else }}
<ul class="list list-gap-14 collapsible-container" data-collapse-after="{{ .CollapseAfter }}">
    {{ template "videos-vertical-list-items" . }}
</ul>
{{ end }}
{{- end }}
